html {
  font-size : 62.5%;  // sets the rem to a base 10
}

body {
  background: $white;
  font-family : Helvetica, Arial, sans-serif;
  font-size: $m-size;
}

button {
  cursor: pointer;
}

button:disabled {
  cursor: default;
}